:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0 auto;
  --background: hsl(210, 20%, 98%);
  --foreground: hsl(224, 71%, 4%);
  --border: hsl(224, 60%, 20%);
  --hover: hsl(210, 20%, 95%);
  --active: hsl(210, 20%, 90%);
  --focus: 0 0 2px hsla(224, 71%, 4%, 0.5);
  width: 90vw;
  margin: 0 auto;
}
[data-theme="dark"] {
  --background: hsl(210, 20%, 10%);
  --foreground: hsl(224, 71%, 85%);
  --border: hsl(224, 60%, 60%);
  --hover: hsl(240, 10%, 20%);
  --active: hsl(210, 20%, 5%);
  --focus: 0 0 2px hsl(224, 60%, 70%);
}
@media screen and (min-width: 600px) {
  :root {
    width: 75vw;
  }
}
@media screen and (min-width: 1000px) {
  :root {
    width: 45vw;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  background: var(--background);
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
