.link {
  text-decoration: none;
  color: inherit;
  margin-right: 1rem;
}
.wrapper {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  width: 30%;
  height: 150px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}
.wrapper:hover {
  background-color: var(--hover);
}
.wrapper:active {
  background-color: var(--active);
}

.title {
  font-weight: 600;
  font-size: 1rem;
  color: var(--foreground);
}
.description {
  font-weight: 300;
}
