.header {
  margin-top: 3rem;
  padding: 1rem 0.1rem;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--foreground);
}
.links {
  display: flex;
  width: 2/3;
  align-items: center;
}
.link {
  border-radius: 0.33rem;
  margin-right: 0.1rem;
  transition: box-shadow 0.3s ease-in-out;
  height: 32px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link:active {
  background-color: var(--active);
}
.link:focus {
  outline: none;
  box-shadow: var(--focus);
}
.link:hover {
  background: var(--hover);
}
.description {
  font-weight: 300;
}
.logo{
  width: 15.2px;

}
