.toggle {
  padding: 0.5rem;
  border-radius: 0.33rem;
  margin-right: 0.2rem;
  background: none;
  border: none;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle:active {
  background-color: var(--active);
}
.toggle:focus {
  outline: none;
  box-shadow: var(--focus);
}
.toggle:hover {
  cursor: pointer;
  background: var(--hover);
}
